//首页右侧信息栏社交信息图标居中
.personal-info-wrapper .social-links {
  justify-content: center;
}
.home-blog .hero h1{
  letter-spacing: 5px
}

//valine
 #valine .vwrap {
  border-radius: 0.25rem!important;
  box-shadow: var(--box-shadow)!important;
  background-color: var(--background-color)!important;
}
#valine .vh .vcontent{
  border-radius: 0.25rem!important;
  box-shadow: var(--box-shadow)!important;
  background-color: var(--background-color)!important;
}
#valine .vh .vmeta .vat{
  background: var(--background-color)!important;
}