//首页右侧信息栏社交信息图标居中
.personal-info-wrapper .social-links {
  justify-content: center;
}
.home-blog .hero h1{
  letter-spacing: 5px
}

//valine
 #valine .vwrap {
  border-radius: 10px!important;
  box-shadow: var(--box-shadow)!important;
  background-color: var(--background-color)!important;
}
#valine .vh .vcontent{
  border-radius: 10px!important;
  box-shadow: var(--box-shadow)!important;
  background-color: var(--background-color)!important;
}
#valine .vh .vmeta .vat{
  background: var(--background-color)!important;
}
#veditor {
    background-image: url(http://img.bigliou.com/imageHost/bear-dance.gif);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}
#valine .vcards .vcard {
    padding: 15px 20px 0 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
    transition: all .3s
}

#valine .vcards .vcard:hover {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}

#valine .vcards .vcard .vh .vcard {
    border: none;
    box-shadow: none;
}
